body{
background-image: url(bar.jpg);
background-size: cover;
background-position: center;
color: white;
font-family: sans-serif;
}
header{
margin-top: -50px;
background-color:#2b1e147e;
text-align: center;
padding: -50px;
}
h1{
font-size: 140px;
font-family: "Lavishly Yours", cursive;
font-weight: 400;
font-style: normal;
}
h3{
font-family: "Roboto Flex", sans-serif;
font-weight:400;
letter-spacing: 1.2px;
font-size: 50px;
margin-bottom: -50px;
font-style: normal;
font-variation-settings:
  "slnt" 0,
  "wdth" 100,
  "GRAD" 0,
  "XOPQ" 96,
  "XTRA" 468,
  "YOPQ" 79,
  "YTAS" 750,
  "YTDE" -203,
  "YTFI" 738,
  "YTLC" 514,
  "YTUC" 712;
}
h2{
letter-spacing: 1.5px;
font-size: 30px;
}
.container{
margin: 0 auto;
display: block;
text-align: center;
font-family: "Roboto Flex", sans-serif;
font-weight:400;
font-style: normal;
font-variation-settings:
  "slnt" 0,
  "wdth" 100,
  "GRAD" 0,
  "XOPQ" 96,
  "XTRA" 468,
  "YOPQ" 79,
  "YTAS" 750,
  "YTDE" -203,
  "YTFI" 738,
  "YTLC" 514,
  "YTUC" 712;
  max-width: 700px;
  padding: 50px;
  margin-top: 50px;
  border-radius: 9px;
  background-color:#2b1e147e;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
label{
  font-size: 40px;
  align-items: baseline;
}
input{
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  font-size: 30px;
  margin: 20px;
  margin-top: 50px;
  font-family: "Roboto Flex", sans-serif;
  font-weight:400;
font-style: normal;
font-variation-settings:
  "slnt" 0,
  "wdth" 100,
  "GRAD" 0,
  "XOPQ" 96,
  "XTRA" 468,
  "YOPQ" 79,
  "YTAS" 750,
  "YTDE" -203,
  "YTFI" 738,
  "YTLC" 514,
  "YTUC" 712;
font-weight:400;
}
button{
padding: 15px 30px 15px 30px;
background-color:#2A526B;
color:white;
margin-top: 30px;
font-size: 20px;
font-family: "Roboto Flex", sans-serif;
font-weight:400;
border-radius: 10px;
border: 3px solid white;
transition: 2000ms;
cursor: pointer;
width: 200px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 9px;
}
button:hover{
  width: 250px;
  opacity: 0.8;
}
.your-age{
  color: rgb(253, 202, 106);
  font-family: "Roboto Flex", sans-serif;
  font-weight:400;
font-style: normal;
font-variation-settings:
  "slnt" 0,
  "wdth" 100,
  "GRAD" 0,
  "XOPQ" 96,
  "XTRA" 468,
  "YOPQ" 79,
  "YTAS" 750,
  "YTDE" -203,
  "YTFI" 738,
  "YTLC" 514,
  "YTUC" 712;
font-weight:400;
}